/*font-family: 'Fresca', sans-serif; | F8F9FA | */
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/*nav*/
.navbar-toggler {
    border: none;
    outline: none;
}
.fa-bars {
    color: #000;
    outline: none;
}
.navbar-brand {
    font-family: 'Fresca', sans-serif;
    text-transform: capitalize;
    font-size: 1.5rem; 
}
.nav-link {
    color: #4C515D !important;
    text-transform: capitalize; 
}
.nav-link:hover {
    color: #000 !important;
}
/*end of navbar*/
/*home page and info*/
#home {
    width: 100vw;
    height: 55vh;
    background: url(images/home.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
.short {
    padding: 1rem;
    position: relative;
    text-align: center !important;
}
.short p   {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'Fresca', sans-serif;
    font-weight: bold; 
    transition: 0.5s;
}
.short p .btn {
    color: red;
    text-transform: capitalize;
    font-weight: bold;
}
.short img {
    height: 15rem;
    cursor: pointer;
}
.short img:hover {
    box-shadow: 0 0 10px #70778E;
    transition: 0.5s;
} 
/*end*/
/*profile*/
#profile{
    width: 100vw;
}
#profile h1 {
    font-family:  'Fresca', sans-serif;
    text-transform: capitalize;
}
.peaces {
    padding: 1rem;
    position: relative;
    text-align: center !important;
}
.peaces img {
    height: 15rem;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #333;
    transition: 0.5s; 
}
.peaces p   {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;
    font-weight: bold; 
    transition: 0.5s;
    padding: 0;
    margin: 0;
    text-shadow: none;
    transition: 0.5s; 
}
.peaces:hover p {
    display: inline;
}
.peaces img:hover {
    transition: 0.5s; 
    box-shadow: 0 0 10px #70778E;
}
/*end of profile */
#blog h1 {
    font-family: 'Fresca', sans-serif;
    padding: 0.5rem;
}
@media (max-width: 750px) {
    .not {
        display: none;
    }
}
.blog-card {
    padding: 1rem;
    position: relative;
    text-align: center !important;
}
.blog-card img {
    height: 15rem;
    cursor: pointer;
    padding: 5px;
    transition: 0.5s; 
}
.blog-card p   {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #eee;
    font-weight: bold; 
    transition: 0.5s;
}
/*end of blog*/
/*service contact*/
    /*service*/
#service h1 {
    font-family:  'Fresca', sans-serif;
}
.service-card {
    padding: 1rem;
    position: relative;
    text-align: center !important;
}
.service-card img {
    height: 15rem;
    cursor: pointer;
    padding: 5px;
    transition: 0.5s; 
}
.service-card p   {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #000;
    font-weight: bold; 
    transition: 0.5s;
}
.service-card img:hover {
    box-shadow: 0 0 5px gray;
}
    /*contact*/
